{% extends "basic_template.html" %}

{% block meta_description %}
<meta name="description" content="Presenting discord DonkeyBots" />
{% endblock meta_description %}

{% block icons %}
<link rel="icon" href="{{ url_for('static', filename='img/icon32.png') }}" />
<link rel="apple-touch-icon" href="{{ url_for('static', filename='img/icon180.png') }}" />
{% endblock icons %}

{% block link_additional_files %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/home_style.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/home_queries.css') }}" />
<script defer src="{{ url_for('static', filename='JS/script.js') }}"></script>
{% endblock link_additional_files %}

{% block content %}

{% with logo_color='black' %}
    {% include 'main_header.html'  %}
{% endwith %}

<main>
    <section class="hero-section">
      <div class="container-custom bots-container grid grid--2-cols">
        <div class="bot-box">
          <img class="bot-image" alt="Bot logo" src="{{ url_for('static', filename='img/icon.png') }}" />
          <div class="bot-title">
            <h2 class="bot-name">DonkeyMusicBot</h2>
            <div class="bot-badges">
              <span class="badge badge-primary bot-badge">Bot</span>
              <span class="badge badge-secondary bot-badge"
                >Slash commands</span
              >
              <span class="badge badge-info bot-badge">Play music</span>
              <span class="badge badge-light bot-badge">Manage music</span>
              <span class="badge badge-dark bot-badge">Queue</span>
            </div>
          </div>
          <p class="bot-description">
            Play, loop, manage and search music by passing search queries or
            urls
          </p>
          <div class="bot-buttons-container">
            <a href="/music_bot" class="btn-custom btn--full-dark"
              >Learn more</a
            >

            <a
              href="/music_bot/commands"
              class="btn-custom btn--full-dark"
              >Commands</a
            >

            <a
              href="https://discord.com/api/oauth2/authorize?client_id=1151572540075032586&permissions=35461400849472&scope=bot%20applications.commands"
              target="_blank"
              class="btn-custom btn--full"
              ><div class="ds-logo-container">
                <ion-icon name="logo-discord"></ion-icon
                ><span>Add to discord</span>
              </div></a
            >
          </div>
        </div>
        <div class="bot-box">
          <img class="bot-image" alt="Bot logo" src="{{ url_for('static', filename='img/icon2.png') }}" />
          <div class="bot-title">
            <h2 class="bot-name">DonkeySecondaryBot</h2>
            <div class="bot-badges">
              <span class="badge badge-primary bot-badge">Bot</span>
              <span class="badge badge-secondary bot-badge"
                >Slash commands</span
              >
              <span class="badge badge-success bot-badge">Many APIs</span>
              <span class="badge badge-warning bot-badge">Random</span>
            </div>
          </div>
          <p class="bot-description">
            Use various APIs and try many commands based on randomness
          </p>
          <div class="bot-buttons-container">
            <a href="/secondary_bot" class="btn-custom btn--full-dark"
              >Learn more</a
            >

            <a href="/secondary_bot/commands" class="btn-custom btn--full-dark"
              >Commands</a
            >

            <a
              href="https://discord.com/api/oauth2/authorize?client_id=1151580275478896670&permissions=277092756544&scope=bot%20applications.commands"
              target="_blank"
              class="btn-custom btn--full"
              ><div class="ds-logo-container">
                <ion-icon name="logo-discord"></ion-icon
                ><span>Add to discord</span>
              </div></a
            >
          </div>
        </div>
      </div>
    </section>

    {% include 'footer.html' %}
</main>
{% endblock content %}
