{% extends "basic_template.html" %}

{% block meta_description %}
<meta name="description" content="Commands of DonkeyMusicBot" />
{% endblock meta_description %}

{% block icons %}
<link rel="icon" href="{{ url_for('static', filename='img/icon32.png') }}" />
<link
  rel="apple-touch-icon"
  href="{{ url_for('static', filename='img/icon180.png') }}"
/>
{% endblock icons %}

{% block link_additional_files %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='CSS/commands.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='CSS/commands_queries.css') }}"
/>
{% endblock link_additional_files %}

{% block content %}

{% with logo_color='black' %}
  {% include 'main_header.html'%}
{% endwith %}

<div class="container-custom commands-container-whole mrg-bottom-small mrg-top-small">

  <div class="command-types-container">
    {% for category in categories %}
      {% for category_name in category %}
        {% if current_category == category_name %}
          <a href="/music_bot/commands/{{ category_name }}" class="btn-custom btn--full-dark-reversed current-category">{{ category_name }}</a>
        {% else %}
          <a href="/music_bot/commands/{{ category_name }}" class="btn-custom btn--full-dark-reversed">{{ category_name }}</a>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>

  <div class="commands-container">
    {% for command in commands %}
      <div class="commmand-element">
        <ion-icon size="small" name="ellipse-outline" class="command-icon"></ion-icon>
        <span>{{ command.command }}</span>
      </div>
    {% endfor %}
  </div>

</div>
{% include 'footer.html' %}

{% endblock content %}
