{% extends "bot_layout.html" %}

{% block meta_description %}
<meta
    name="description"
    content="Information about discord DonkeyMusicBot"
/>
{% endblock meta_description %}

{% block icons %}
<link rel="icon" href="img/icon32.png" />
<link rel="apple-touch-icon" href="img/icon180.png" />
{% endblock icons %}

{% block logo %}
<img class="logo" alt="Bot logo" src="{{ url_for('static', filename='img/icon.png') }}" />
{% endblock logo %}

{% block bot_image %}
<img class="bot-image" alt="Bot logo" src="{{ url_for('static', filename='img/icon.png') }}" />
{% endblock bot_image %}

{% block first_section_content %}
<p class="section-title margin-bottom-after-section-title">
    Searching music
</p>
<div class="grid grid--2-cols">
    <p class="section-info">
        You can play music by passing url to many different supported sites,
        but also you can play music by giving youtube search queries.
    </p>
    <img
        class="bot-image-section center-item-in-grid grid-element-to-right"
        alt="Example of starting playing music"
        src="{{ url_for('static', filename='img/searching-show.png') }}"
    />
</div>
{% endblock first_section_content %}

{% block second_section_content %}
<p class="section-title margin-bottom-after-section-title">
    Many possibilites
</p>
<div class="grid grid--2-cols">
    <img
        class="bot-image-section image-on-left"
        alt="Different commands of the bot"
        src="{{ url_for('static', filename='img/commands-show.png') }}"
    />
    <div class="section-info-with-link flex-columns">
        <p class="section-info">
        Commands give you freedom of managing music as you wish. There are
        <span class="important-number">17</span> different commands. If
        you wish to know more about them, click button below.
        </p>
        <a
        href="{{ commands_route }}"
        class="btn-custom btn--full-dark-reversed"
        >Commands</a
        >
    </div>
</div>
{% endblock second_section_content %}

{% block bot_online_image %}
<img
    class="bot-image-section center-item-in-grid grid-element-to-right"
    alt="Bot being online"
    src="{{ url_for('static', filename='img/bot-online2.png') }}"
/>
{% endblock bot_online_image %}
