* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  padding: 0.4rem;
  border-radius: 3px;
  box-shadow: 0 0 0 0.5rem rgba(59, 130, 246, 1);
}

html {
  /* 10px / 16px * 100 =  62.5 */
  /* Percentage of the user's browser font-size setting */
  /* 1rem is equal to 10px now */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #ddd;
  background-color: #2c2e32;
}
