/*
- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 / 156 / 256 / 356

-   Font weights
    Default: 400
    Medium: 500
    Semi-bold: 600
    Bold: 700

-   line heights
    Default: 1
    Small: 1.05
    Medium: 1.2
    Paragraph default: 1.6
    Large: 1.8

- Letter spacing

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


- COLORS
    Primary: #5764f1
    Tint: #6874f2, #8993f5
    Shades: #5e68da, #535dc2
    Other: #ddd, #eee, #fff
    Accents:
    Greys: #555, #28292d, #232528
    Backgrounds: #2c2e32,#414347


--- 03 SHADOWS
    box-shadow: 0 0 0.05rem 0.5rem rgba(59, 130, 246, 1);


--- BORDER-RADIUS
    Default: 9px
    11px
    3px


--- 05 WHITESPACE

*/

.container-custom {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.center-with-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-small-gap {
  gap: 0.75rem;
}

.center-item-in-grid {
  justify-self: center;
  align-self: center;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--1-col {
  grid-template-columns: 1fr;
}

.btn-custom,
.btn-custom:link,
.btn-custom:visited {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 1.2rem 3.2rem;
  border-radius: 9px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #eee;
  border: 3px solid #5764f1;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  border: 3px solid #535dc2;
}

.btn--full:link,
.btn--full:visited {
  background-color: #5764f1;
  color: #eee;
}

.btn--full:hover,
.btn--full:active {
  background-color: #535dc2;
}

.btn--full-dark:link,
.btn--full-dark:visited {
  background-color: #2c2e32;
  color: #eee;
}

.btn--full-dark:hover,
.btn--full-dark:active {
  background-color: #28292d;
}

.btn--full-dark-reversed:link,
.btn--full-dark-reversed:visited {
  background-color: #28292d;
  color: #eee;
}

.btn--full-dark-reversed:hover,
.btn--full-dark-reversed:active {
  background-color: #2c2e32;
}

.ds-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.ds-logo-container span {
  white-space: nowrap;
}

.icon {
  font-size: 4rem;
  display: block;
  color: #ddd;
}

.section {
  background-color: #414347;
  padding: 9.8rem 4.8rem;
}

.section-title {
  display: block;
  font-size: 4.4rem;
  font-weight: 500;
  color: #fff;
}

.dark-section {
  background-color: #2c2e32;
}

.section-info {
  line-height: 1.6;
  font-size: 1.8rem;
}

.margin-bottom-after-section-title {
  margin-bottom: 3.2rem;
}

.flex-columns {
  flex-direction: column;
}

.important-number {
  font-weight: 500;
  color: #8993f5;
}

.grid-element-to-right {
  justify-self: end;
}
