/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c2e32;
  height: 8.6rem;
  padding: 0 4.8rem;
}

.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2rem;
}

.title {
  color: #5764f1;
}

.logo {
  height: 4.8rem;
  border-radius: 9px;
  font-weight: 600;
}

/* NAVIGATION */

.main-nav-list {
  display: flex;
  gap: 8rem;
  list-style: none;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #ddd;
  font-size: 1.8rem;
  transition: all 0.4s;
  font-weight: 500;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #fff;
}

/* FOOTER */

.footer {
  display: flex;
  background-color: #2c2e32;
  height: 9.6rem;
  color: #ddd;
  font-size: 1.4rem;
  justify-content: center;
  align-items: center;
  margin-top: 0.8rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
}
