.btn--full-dark-reversed:hover,
.btn--full-dark-reversed:active {
  background-color: #232528;
}

.bot-title {
  font-size: 5.2rem;
  line-height: 1.05;
  color: #fff;
}

.bot-description {
  line-height: 1.6;
  font-size: 1.8rem;
}

.bot-image {
  width: 40rem;
  border-radius: 9px;
}

.bot-hero-info {
  flex-direction: column;
  gap: 3.2rem;
}

.bot-hero-buttons {
  margin-top: 1.6rem;
  gap: 1.6rem;
  justify-content: space-between;
}

.bot-hero-info > div:nth-child(3) {
  align-self: flex-start;
}

.bot-hero-visual-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 6.4rem;
}

.icon {
  font-size: 6.2rem;
}

.dark-icon {
  color: #232528;
}

.footer-container .icon {
  font-size: 4rem;
}

.section-info-with-link {
  display: flex;
  gap: 4.2rem;
}

.section-info-with-link a {
  width: 50%;
  margin: 0 auto;
}

.footer-container {
  gap: 0.4rem;
}

.section-contact-us {
  background-color: #5764f1;
  color: #eee;
  padding: 4.6rem 4.6rem;
  border-radius: 11px;
}

.contact {
  margin-top: 4.5rem;
  line-height: 1.6;
  font-size: 3.2rem;
  font-weight: 500;
  gap: 2.4rem;
}

.copy-icon {
  font-size: 3rem;
}

.copy-button-container {
  position: relative;
}

.copy-button {
  background-color: #eee;
  color: #5764f1;
  border: none;
  outline: none !important;
  box-shadow: none;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  border-radius: 9px;
}

.copy-button:before {
  content: "Copied!";
  position: absolute;
  background-color: #eee;
  top: -45px;
  right: -15px;
  color: #5764f1;
  padding: 0.4rem 0.8rem;
  border-radius: 9px;
  font-size: 1.6rem;
  display: none;
}

.copy-button:after {
  content: "";
  position: absolute;
  top: -18px;
  right: 15px;
  width: 10px;
  height: 10px;
  background-color: #eee;
  transform: rotate(45deg);
  display: none;
}

.copy-button.active:before,
.copy-button.active:after {
  display: block;
}

.input {
  pointer-events: none;
  background-color: inherit;
  color: inherit;
  font-size: 2.4rem;
  /* border: none; */
  /* FIXED SIZE ON INPUT */
  width: 240px;
}
