/* rem and em do not depend on html font-size in media queries */
/* 1rem = 1em = 16px */
/* It's safer to use em in media queries */

/*
BREAKPOINTS:
- BELOW 1200px
- BELOW 816px
- BELOW 752px
- BELOW 672px
- BELOW 560px
- BELOW 416px
- BELOW 368px

(many phones are between 350 - 450px)
The smallest width of the phone you should consider when designing
a webiste is typically 320px

*/

@media (max-width: 75em) {
  .grid--2-cols {
    grid-template-columns: 1fr;
  }
  .bots-container {
    padding-left: 6.4rem;
    padding-right: 6.4rem;
  }
}

@media (max-width: 51em) {
  .bots-container {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
}

@media (max-width: 47em) {
  .bot-box {
    padding: 1.2rem;
  }
  .main-nav-list {
    gap: 1rem;
  }
}

@media (max-width: 42em) {
  .main-nav-list {
    display: none;
  }
}

@media (max-width: 35em) {
  .bots-cointer {
    padding: 3.2rem 0.2rem;
  }
  .container-custom {
    padding: 3.2rem 0.2rem;
  }
  .bot-name {
    font-size: 3.2rem;
  }
}

@media (max-width: 26em) {
  .bot-badges {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .bot-badges > span:nth-child(5) {
    grid-column: span 2;
  }

  .bot-name {
    font-size: 3rem;
  }
}

@media (max-width: 23em) {
  .bot-name {
    font-size: 2.4rem;
  }
}
